* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background: url("img/background.jpg") no-repeat fixed;
    background-size: cover;
}
.container {
    width: 90%;
}
form {
    max-width: 430px;
    position: relative;
    left: 23px;
    height: 430px;
    margin: 80px auto;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.300);
}
form h1 {
    font: bold 16px/20px georgia,serif;
    color: white;
    text-align: center;
    padding: 30px 0 60px 0;
   
}
.main {
    position: relative;
    margin-left: 80px;
}
.main input {
    color: #fff;
    background: none;
    padding: 0.350rem;
    width: 250px;
    border: 2px solid #fff;
    outline: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    font: normal 12px verdana, sans-serif;
}
.main #user {
    color: #fff;
    font: 12px verdana, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    translate: 0.300rem 0.300rem;
    padding-inline: 0.25rem;
    border: 2px solid transparent;
    pointer-events: none;
    transition: translate 250ms,
                background-color 250ms
                border-color 250ms;
}

.main:focus-within #user,
.main:not(:has(:placeholder-shown))
#user {
    translate: 0.100rem -1.2rem;
    background: none;
    font: 12px/18px verdana, sans-serif;
}
.main ::placeholder {
    color: transparent;
}
.main #eye {
    position: absolute;
    left: 220px;
    top: 8px;
    color: white;
    font-size: 12px;
}
.main #closed {
    position: absolute;
    left: 220px;
    top: 8px;
    color: white;
    font-size: 12px;
    display: none;
}
.button {
    display: inline-block;
    margin: 10px 0 0 150px;
    width: 110px;
    height: 30px;
    color: #fff;
    border: 2px solid cyan;
    border-radius: 5px;
    background: rgba(0, 255, 255, 0);
    font: 16px/18px verdana, sans-serif;
}
.button:hover {
    background: rgba(0, 255, 255, 0.300);
}
.text {
    font: 10px/18px verdana, sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    margin-left: -20px;
}
.text #text {
    text-decoration: none;
    color: white;
}
.text #text:hover {
    color: blue;
    text-decoration: underline;
}
.icon {
    font-size: 1.350rem;
    text-align: center;
    margin-top: 40px;
    word-spacing: 2rem;
    margin-left: -20px;
    color: #fff;
}
.icon .fa-facebook {
    color: #4267B2;
}
.icon .fa-instagram {
    color: #E1306C;
}
.icon .fa-google {
    color: rgba(220, 225, 233, 0.932);
}














































